<!-- Partial code taken from W3schools.com. (2017). Bootstrap Modals. [online] Available at: https://www.w3schools.com/bootstrap/bootstrap_modal.asp. -->
      <!-- Modal -->
      <div class="modal" role="dialog" id="enterEventModal">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button><h4 class="modal-title">Enter New Event</h4>
            </div>
            <div class="modal-body">
                <form enctype='application/json' action="/post/json" method="post" id="enterForm">
                    <h4><span class="glyphicon glyphicon-calendar"></span> Enter New Event:</h4>
                    <input type="hidden" name="id" value=0 required />
                    <div class="field">
                        <input type="date" name="date" placeholder="Date" required />
                    </div>
                    <div class="field">
                        <input type="time" name="time" placeholder="Time" required />
                    </div>
                    <div class="field">
                        <input type="text" name="what" placeholder="Short Description" required />
                    </div>
                        <input type="hidden" name="who" value="<%= data.user.userid %>" required />
                         <input type="hidden" name="full_name" value="<%= data.user.first_name + ' ' + data.user.last_name %>" required />
                    <div class="field">
                        <input type="text" name="where" placeholder="Address" required />
                    </div>
                    <div class="field">
                        
                        <input type="hidden" name="coords" />
                       <button type="submit">Submit</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div> 
      <!-- End Modal -->