      <!-- Share Form Start -->
      <div class="modal" tabindex="-1" role="dialog" id="shareForm">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4><span class="glyphicon glyphicon-share">&nbsp;</span>Enter User Email To Share Calendar:</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
           <!-- <form enctype="application/x-www-form-urlencoded" method="post" action="/post/share" id="shareForm">-->
              <div class="alert alert-danger" id="share-error">
              </div>
              <div class="input-group input-group-md">
                <span class="input-group-addon" id="sizing-addon1">@</span>
                <input type="email" class="form-control" aria-label="ShareMail" aria-describedby="sizing-addon1" name="sharemail">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" id="shareBtn">Share</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
          <!--</form>-->
          </div>
        </div>
      </div>
     </div>
      <!-- Share Form End -->